body {
    background-color: #030115;
}

.hackclublogo {
    left:0;
    top:0;
    position:absolute;
    transition:0.5s ease;
    z-index:1000;
}

.hackclublogo:hover {
    transform:scale(1.1);
}

.logo {
      max-width: 800px;
      min-width: 150px;
      width: 80%;
      height: auto;
      filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
      z-index: 10;
      transition: transform 0.3s ease-in-out;
      margin-left:auto;
      margin-right:auto;
      margin-top: 10%;
      position:relative;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
}

.top-decor {
    width:100vw;
    height: auto;
    position:absolute;
    top:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    pointer-events: none;
    z-index: -1000;
}

header {
      background-image: var(--bg);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
    }

.containermain {
      display: flex;
      flex-direction: column;
    }


.logo:hover {
      transform: scale(1.1);
}

h3 {
    color:white;
    font-family: "Tiny5", sans-serif;
    font-size: 3em;
}

.submit {
    background-color:#2e238c;
    border-radius: 20px;
    justify-content: center;
    margin: 2em;
    padding: 0.75em 1.5em;
    min-height: auto;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s ease;
}

.buttons {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.submit h3 {
    color:white;
    font-family: "Tiny5", sans-serif;
    font-size: 2em;
}

.submit:hover {
    background-color: #6d61dc;
    transform: scale(1.2);
}

p {
    text-align: center;
    color: white;
    font-family: "Tiny5", sans-serif;
}

a {
    color:#c417aa;
}