
<style>
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items:center;
    }
    .container :global(p) {
        color:white;
        font-family: "Rubik", sans-serif;
    }
</style>

<div class="container">
     <slot />
</div>
   